<!-- partialの練習 -->

<!-- editの場合 -->
    <!-- form_for @post, url: post_path(@post) do |f| -->
    <!-- formのパスに注意するupdateなので'post_pathになる' -->
<!-- newの場合 -->
    <!-- form_for :post, url: posts_path do |f| -->
    <!-- form_forとform_withがある :postはモデルオブジェクトのこと。つまりpostモデルに対するformだと言う意味
        おそらく、モデルが増えてくるとたくさん記述する必要が出てくる -->
<!-- どっちも対応の場合 -->
<%= form_for @post do |f| %>
<!-- 記事入力 -->

    <p>
        <span>名前</span>
        <%= f.text_field :author, placeholder: '省略可' %>
    </p>
    <% if @post.errors.messages[:author].any? %>
        <span class="error"><%= @post.errors.messages[:author][0] %></span>
    <% end %>
    <p>

<!-- title入力 -->
    <!-- @postは新規追加のデータが入っている -->
    <!-- つまりrender plain @post.errors.inspectで出たやつ -->
    <!-- any?: モデルが空ならtrueを返す -->
    
    <p>
        <span>タイトル</span>
        <%= f.text_field :title, placeholder: '3文字以上' %>
    </p>
    <% if @post.errors.messages[:title].any? %>
        <span class="error"><%= @post.errors.messages[:title][0] %></span>
    <% end %>

<!-- 記事入力 -->
    <p>
        <span>内容</span>
        <%= f.text_area :body, placeholder: '内容欄' %>
    </p>
    <% if @post.errors.messages[:body].any? %>
        <span class="error"><%= @post.errors.messages[:body][0] %></span>
    <% end %>
    <p>
<!-- パスワード入力 -->
    <p>
        <span>パスワード</span>
        <%= f.password_field :password, placeholder: 'パスワード欄' %>
    </p>
    <% if @post.errors.messages[:password].any? %>
        <span class="error"><%= @post.errors.messages[:password][0] %></span>
    <% end %>
    <p>

<!-- submit -->
        <%= f.submit '作成', class: 'submit' %>
    <% unless @post.id.nil? %>
        <%= f.submit '削除', class: 'delete',name: "delete",data: { confirm: "本当に削除しますか？"} %>
    <% end %>
    </p>
<% end %>