
<!-- simple_formatで改行を反映させる -->
<div class="article">
    <p>
        <span class="title-md text-green"><%= @post.title %></span>
        <span class="date">投稿日: <%= @post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %></span>
        <%= simple_format @post.body, :class => 'p-3' %>
    <p>
        <span class="author">作者: <%= @post.author %></span>
        <span class="date">最終更新日: <%= @post.updated_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %></span>
    </p>
</div>
<!--comment欄  -->
<h3 class="title-md text-green">コメント欄</h3>
<% if @post.comments.any? %>
    <% @post.comments.each_with_index do |comment,i| %>
    <div class="article mt-2">
        <%= i + 1 %>
            <%= simple_format(comment.body, :class => 'pl-2') %>
    </div>
    <% end %>
<% end %>
<!-- 複数のモデルを渡す場合は、配列かつ、カッコで括る
    build モデルオブジェクトの生成(saveやdestroyが使える) -->
<%= form_for([@post, @post.comments.build]) do |f| %>
<!-- コメント入力 -->
    <div class="form-group">
        <%= f.text_area :body,class: 'form-control mt-3' %>
    </p>
<!-- submit -->
    <div class="form-group">
        <%= f.submit 'コメント投稿',class: 'btn btn-block btn-fennel-regular' %>
    </p>
<% end %>